<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
<link rel="stylesheet" href="/css/navbar.css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
  <%- include('./layouts/header') %>
  <header>
    <nav class="navbar">
			<div class="logo"><img src="/images/logo.png" alt="logo"></div>
			<ul>
				<li><a class="active" href="/">Home</a></li>
        <li><a class="link" href="/contactus">Contact Us</a></li>
        <% if (user) { %>
          <li><a class="link" href="/user/profile">Profile</a></li>
          <% if (user.role === 'ADMIN') { %>
            <li><a class="link" href="/admin/users">Manage Users</a></li>
            <% } %>
            <% if (user.role === 'STUDENT') { %>
              <li><a class="link" href="/user/notes">Notes</a></li>
              <% } %>
            <% if (user.role === 'TEACHER') { %>
              <li><a class="link" href="/user/users">Users</a></li>
              <li><a class="link" href="/user/teacher">Teacher</a></li>
              <% } %>
              
            <li><a class="link" href="/auth/logout">Logout</a></li>
            <% } else { %>  
			</ul>
      <div>
			<a class="get-started" href="/auth/register">Signup</a>
      <a class="get-started" href="/auth/login">Login</a>
      <% } %>
      </div>
		</nav>
  </header>
<div class="profile">
  <h1><span class="goback" onclick="window.history.back()">←</span> Profile</h1>
  <div>
    <p class="title">ID</p>
    <p class="subtitle"><%= user.name %></p>
  </div>
  <div>
    <p class="title">Email/username</p>
    <p class="subtitle"><%= user.email %></p>
  </div>
  <div>
    <p class="title">Role</p>
    <p class="subtitle"><%= user.role %></p>
  </div>
</div>
<%- include('./layouts/footer') %>
</body>
</html>